<div class="CSSTableGenerator">
<table>
  <tr>
    <td>User</td>
    <td>Name</td>
    <td>Order details</td>
    <td>Status</td>
    <td>Approval</td>
    <td>Show</td>
    <td>Destroy</td>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.user_id %></td>
    
    <td><% s = User.find_by_id(order.user_id) %><%= s.fullname %></td>
    <td>
      <% d = 0 %>
	  <% order.line_items.each do |l| %>
	  <% s = order.line_items.size %>
	  	<% d = d + 1 %>
	  	<%= l.product.title %> x <%= l.quantity %> <% if d < s %> - <% end %>
	  <% end %>
    </td> 
	
    
    <td><%= order.status %></td>
    <td>
    <% if order.status != "Approved" %>
    <%= link_to 'Approve', approve_path(order), :method => :put %>
    <% end %>
    </td>
    <td><%= link_to 'Show', order, :class => "log-button3" %></td>
    <td><%= button_to 'Destroy', order, method: :delete, :class => "button3", data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>