<div id="order_show">
<div class="field">

    <p>Name:</p><%= @order.user.fullname %>
</div> 

  <div class="field"><p>Address:</p>
  <%= @order.user.address1 %><br />
  <%= @order.user.address2 %><br />
  <% if @order.user.address3.nil? %>
  <% else %>
  <%= @order.user.address3 %><br />
  <% end %>
  <%= @order.user.postcode %><br />
  <%= @order.user.city %>

</div>
<div class="field">
	<p>Order details:</p>
  <table>
  		<%=render(@order.line_items)%>
  			<tr class="total_line">
  			<td colspan="2">Total</td>
  			<p><td class="total_cell"><%= sprintf("£%0.02f",@order.total_price)%></p></td>
  		
   </table>
</div>
<div class="field">
<p>Order status:</p>
  <%= @order.status %>
</div>
<div class="field">
<p> Order date: </p>
	<%= @order.created_at %>
 </div>
<%= link_to 'Edit', edit_order_path(@order), :class => "log-button" %> |
<%= link_to 'Back', orders_path, :class => "log-button"%>

</div>
