<h1>Listing users</h1>
<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Admin</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.fullname %></td>
    <td><%= user.email %></td>
    <td><% if user.admin == true %>Yes<% end %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <% if current_user.email == user.email %>
    <% else %>
    <td><%= link_to 'Destroy', '', method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', '#' %>
