<h1>Listing products</h1>

<div id="product">
<% @products.each do |product| %>
	<div id="product-list">
		<div class="pic">
		<%= image_tag product.photo.url(:thumb), :class => "pic" %>
		<p> <%= product.name %> </p>
		<p><%= product.description %></p>
		<p class="price"><b>Price: <%= product.price %></b></p>
		</div>
	</div>
<% end %>
</div>

<div id="break"> 
</div>
<span id="table">
<table>
  <tr>
	<th></th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
	<td><%= image_tag product.photo.url(:thumb) %></td>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= product.price %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

</span>
<%= link_to 'New Product', new_product_path %>
