<div class="CSSTableGenerator">
<table>
  <tr>
    <td><b>Title</b></td>
    <td><b>Image</b></td>
    <td><b>Price</b></td>
    <td>Show</td>
    <td>Edit</td>
    <td>Destroy</td>
  </tr>

<% @products.each do |product| %>
  <tr class="<%=cycle('list_line_odd','list_line_even')%>">
    <td class="list_description">
		<dl>
			<dt><%=product.title%></dt>
			<dt><%=truncate(strip_tags(product.description),
			:length=>80)%></dt>
		</dl>
	</td>
    <td><%= image_tag(product.image_url, :class=> 'list_image', :size => "50x50") %></td>
    <td><span class="price"><%=sprintf("£%0.02f",product.price)%></span></td>
    <td><%= link_to 'Show', product, :class => "log-button2" %></td>
    <td><%= link_to 'Edit', edit_product_path(product), :class => "log-button2" %></td>
    <td><%= button_to 'Destroy', product, method: :delete, :class => "button2", data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'Create New Product', new_product_path %>
