<div id="product">
<p>
  <%= @product.name %>
</p>
<br/>
<p>
	<%= image_tag @product.photo.url(:medium) %>
</p>
<br/>
<p>
  <b>Description:</b>
  <%= @product.description %>
</p>
<p>
  <b>Price:</b>
  £<%= sprintf("%.2f", @product.price) %>
</p>
<br/>
<p>
	<%= link_to "Buy", create_order_path %>
</p>
<br/>
<p>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %></p>
</div>