<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
<title><%= full_title(yield(:title)) %></title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<%= stylesheet_link_tag "style", "style2", "jquery.jscrollpane", :media => "all" %>
  <%= javascript_include_tag "rails.validations", "placeholder" %>
  <%= csrf_meta_tags %>
</head>
<body>	
	<!-- Wrapper -->
	<div id="wrapper">
		<div id="wrapper-bottom">
			<div class="shell">
				<!-- Header -->
				<div id="header">
					<!-- Logo -->
					<h1 id="logo"><a title="Home" href="#">accessories store</a></h1>
					<p class="shopping-cart">
					<a class="cart" href="/display_cart" title="Your Shopping Cart">
					Your Shopping Cart</a><span>Items:</span>&nbsp;<%= t1 %><span>Cost: £<%= t2 %></span>&nbsp;</p>					
					<!-- END Search -->
					<div class="cl"></div>			
					<!-- Navigation -->					
					<% if user_signed_in? %> 
					<div id="nav-log">
						<div id="login">
						  <a href="/logout" class="log-button">Log out</a>
						</div> 
						<div id="register">
						  <p>Welcome <%= link_to current_user.fullname, edit_user_registration_path %></p>
						</div>						
					</div>					 	
					<% else %>
					<div id="nav-log">
						<div id="login" >
						  <%= button_to('Login', new_user_session_path, :method => :get, :class => 'log-button' )  %>
						  
						</div>
						<div id="register" >
						<p> Not registered? Please <%= link_to('Register', new_user_registration_path)  %></p>
						</div>
					</div>
					<% end %>	
					<div class="cl"></div>				
					<!-- END Navigation -->
					<div class="cl"></div>
				
				<% if user_signed_in? %>
						  <% if current_user.admin? %>
						  <div id="admin">
							<h1> Admin Interface - Resctricted Access </h1>
						  </div>
						 <%end %>
					<%end %>
				
				<div id="navigation" class="sep" >
					<ul>
						<% if user_signed_in? %>
						  <% if current_user.admin? %>
						    
							<li><%= link_to 'Hand Bags', store_path, :class => 'log-button' %></li>
							<li><%= link_to 'Stock', products_path, :class => 'log-button' %></li>
							<li><%= link_to 'Orders', orders_path, :class => 'log-button' %></li>
							<li><%= link_to 'Users', users_path, :class => 'log-button' %></li>
						  <% else %>
							<li><%= link_to 'Hand Bags', store_path, :class => 'log-button' %></li>						
						    <li><%= link_to 'About', about_path, :class => 'log-button' %></li>
						    <li><%= link_to 'Contact', contact_path, :class => 'log-button' %></li>
							<li><%= link_to 'Help', help_path, :class => 'log-button' %></li>
						  <% end %>
						<% else %>
						<li><%= link_to 'Hand Bags', store_path, :class => 'log-button' %></li>						
						<li><%= link_to 'About', about_path, :class => 'log-button' %></li>
						<li><%= link_to 'Contact', contact_path, :class => 'log-button' %></li>
						<li><%= link_to 'Help', help_path, :class => 'log-button' %></li>
						<% end %>
					</ul>				
				</div>				
			</div>
			<div class="rom">
				</div>
				<% if notice || alert %> 
					<div id="flash">
					<p class="notice"><%= notice %></p>
					<p class="alert"><%= alert %></p> 
					
				  </div>
				<% end %>
				
				
				<div id="content">
					<!-- Featured Products -->
					<div class="products-holder">
						<div class="top"></div>
						<div class="middle">													
							<div class="label">
							<% provide(:title, @title) %>
								<h3><%= yield(:title) %></h3>									
							</div>
							<div class="cl"></div>	
			
									<%= yield %>
							<div class="cl"></div>
						</div>
						<div class="bottom"></div>									
					</div>
					<!-- END Featured Products -->
				   
			 </div>
 
			</div>
		</div>
		<div id="footer">
					  <p><a href="index.htm">Home</a> | 
					  <a href="clothes.htm">Clothes</a> |
					  <a href="electronics.htm">Electrical</a> |
					  <a href="books.htm">DVD/Blu-Ray</a> |
					  <a href="music.htm">Music</a> |
					  <a href="video.htm">Shopping Cart</a> |
					  <a href="account.htm">Manage Account</a></p>
				   </div>
</div>
</body>
</html>
