<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
<title>e-shop</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<body>
<div id="container">
	<div id="masthead">
		<%= link_to 'Home', '/home' %>
		<%= link_to 'Products', '/products' %>
		<%= link_to 'Contact', '/contact' %>
		<%= link_to 'About', '/about' %>
		<%= link_to 'Help', '/help' %>
		<div id="mast-right">
				<% if user_signed_in? %> 
				<div class="button">
				<%= button_to "Sign Out", sign_out_path, :class => "button", :method => :get %> 
				
				<%= link_to "My Account", edit_user_registration_path %>
				</div>
				<% else %>
				<div class="button">
				<%= button_to "Sign In", sign_in_path, :class => "button", :method => :get %>
				<br/>
				<%= link_to "Sign Up", sign_up_path, :class => "button" %>
				</div>
				<% end %>
		</div>
	</div>
	<% if notice != nil %> 
	<div id="flash">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p> 
	</div>
	<% else %>
	<% end %>
	
   <div id="navigation">
      <p><a href="index.htm">Home</a></p>
      <p><a href="clothes.htm">Clothes</a></p>
      <p><a href="electronics.htm">Electrical</a></p>
      <p><a href="books.htm">DVD and Blu-Ray</a></p>
      <p><a href="music.htm">Music</a></li>
      <p><a href="video.htm">Shopping Cart</a></p>
      <p><a href="account.htm">Manage Account</a></p>
   </div>	
   <div id="content">
		<%= yield %>
   </div>
   
   <div id="footer">
      <p><a href="index.htm">Home</a> | 
      <a href="clothes.htm">Clothes</a> |
      <a href="electronics.htm">Electrical</a> |
      <a href="books.htm">DVD/Blu-Ray</a> |
      <a href="music.htm">Music</a> |
      <a href="video.htm">Shopping Cart</a> |
      <a href="account.htm">Manage Account</a></p>
   </div>

</div>
</body>
</html>
