<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
<title><%= full_title(yield(:title)) %></title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<%= stylesheet_link_tag "style", "jquery.jscrollpane", :media => "all" %>
  <%= javascript_include_tag "simpleCart", "simpleCart.min", "jquery-1.7.min", "DD_belatedPNG-min", "jquery.jscrollpane.min", "jquery.jcarousel", "functions"  %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>

<body>
	<!-- Wrapper -->
	<div id="wrapper">
		<div id="wrapper-bottom">
			<div class="shell">
				<!-- Header -->
				<div id="header">
					<!-- Logo -->
					<a title="Home" href="/store"><div id="logo"></div></a>
					<p class="shopping-cart"><a class="cart" href="/display_cart" title="Your Shopping Cart">
					Your Shopping Cart</a><span>Items:</span>&nbsp;<%= t1 %><span>Cost: £<%= t2 %></span>&nbsp;</p>					
					<div id="search-field">
							<%= form_tag( :controller => "store", :action => "search", :method => "get" ) do %>
							   <%= search_field_tag "", :Search, :class => "text" %>
							   <%= submit_tag "Go", :class => "submit-button", :class => "button3" %>
							<% end %>
					</div>
					<!-- END Search -->
					<div class="cl"></div>
					
					<% if user_signed_in? %>
						  <% if current_user.admin? %>
						  <div id="admin">
							<h1> Admin Interface, Resctricted Access </h1>
						  </div>
						 <%end %>
					<%end %>
					<!-- Navigation -->					
					<% if user_signed_in? %> 
					<div id="nav-log">
						<div id="login">
						  <%= button_to('Logout', destroy_user_session_path, :method => :delete, :class => 'log-button' )  %>
						</div> 
						<div id="register">
						  <p>Welcome <%= link_to current_user.fullname, edit_user_registration_path %>!</p>
						</div>		
					</div>					 	
					<% else %>
					<div id="nav-log">
						<div id="login" >
						  <%= button_to('Login', new_user_session_path, :method => :get, :class => 'log-button' )  %>
						  
						</div>
						<div id="register">
						<p> Not registered? Please <%= link_to('Register', new_user_registration_path)  %></p>
						</div>
					</div>
					<% end %>	
					<div class="cl"></div>		
					<!-- Dropdown Navigation -->
					<div id="sort-nav">						
						<span class="label-left"></span>
							<div class="label-bg">						
							<ul>
								<li>
									<a title="Store"  class="default" href="/store">Products</a>							
									<div class="dd">
										<ul>
											<li><a title="Product" href="#">Jeans</a></li>
											<li><a title="Product" href="#">Hats</a></li>
											<li><a title="Product" href="#">Outwear</a></li>
										</ul>																
									</div>
								</li>
							<% if user_signed_in? %>
															 
								<% if current_user.admin? %>

								<li>
									<a title="Store"  class="default" href="/products">Stock</a>							
									<div class="dd">
										<ul>
											<li><a title="Product" href="#">Jeans</a></li>
											<li><a title="Product" href="#">Hats</a></li>
											<li><a title="Product" href="#">Outwear</a></li>
										</ul>																
									</div>
								</li>

								<li>
									<a title="Orders"  class="default" href="/orders">Orders</a>
									<div class="dd">
										<ul>
											<li><a title="All Orders" href="/orders">All Orders</a></li>
											<li><a title="Order Waiting Approval" href="#">Signed off</a></li>
											<li><a title="Approved Orders" href="#">Waiting Approval</a></li>
											<li><a title="Cancelled orders" href="#">Cancelled Orders</a></li>												
										</ul>
									</div>
								</li>
								<li>
									<a title="Orders" class="default" href="/users">Users</a>
									<div class="dd">
										<ul>
											<li><a title="All Orders" href="/users">All Users</a></li>
											<li><a title="Order Waiting Approval" href="#">Customers</a></li>
											<li><a title="Approved Orders" href="#">Administrators</a></li>										
										</ul>
									</div>
								</li>
							<% end %>
						<% end %>
								<li>
									<a title="About" href="/contact">About</a>
								</li>
								<li>
									<a title="Contact" class="Contact" href="/contact">Contact</a>
								</li>
								
								<li class="last">
									<a title="Help" class="Help" href="/help">Help</a>
								</li>								
							</ul>
						</div>
						<span class="label-right"></span>									
					</div>					
					<!-- END Dropdown Navigation -->
					<div class="cl"></div>
				</div>
				<!-- END Header -->
				<!-- Main -->
				<div id="main">
					<!-- Slider -->
					<div class="slider-holder">
						<div class="promo">
							<img src="assets/images/promo.jpg" alt="Big Sale This Week -30% OFF!" />
						</div>						
						<div id="slider">				
							<ul>
								<li>
									<img src="assets/images/bag5.jpg" alt="Ring Bag 1" title="Ring bag 2" />
									<div class="caption">
										<h2>Ring Bag 2013</h2>
										<div class="text"><p>Ring Bag 2013, top collection, the perfect accessory for spring.</p></div>
										<div class="buy-now">
											<p>BUY NOW</p>
											<p class="price">£<span>59.99</span></p>
										</div>
										<div class="cl"></div>
										<p><strike>£99.99</strike></p>
									</div>
								</li>
								<li>
									<img src="assets/images/bag2.jpg" alt="Ring Bag 2"  title="Ring Bag 2"/>
									<div class="caption">
										<h2>Ring Bag The DIVA</h2>
										<div class="text"><p>Ring Bag The Diva, Fashion Accessory of 2013, a must buy.</p></div>
										<div class="buy-now">
											<p>BUY NOW</p>
											<p class="price">£<span>59.99</span></p>
										</div>
										<div class="cl"></div>
										<p><strike>£99.99</strike></p>
									</div>
								</li>
								<li>
									<img src="assets/images/bag3.jpg" alt="pencils" />
									<div class="caption">
									<h2>Ring Bag 2013</h2>
										<div class="text"><p>Ring Bag 2013, top collection, the perfect accessory for spring.</p></div>
										<div class="buy-now">
											<p>BUY NOW</p>
											<p class="price">£<span>59.99</span></p>
										</div>
										<div class="cl"></div>
										<p><strike>£99.99</strike></p>
									</div>
								</li>
								<li>
									<img src="assets/images/bag1.jpg" alt="Ring Bags" />
									<div class="caption">
										<h2>Ring Bag The DIVA</h2>
										<div class="text"><p>Ring Bag The Diva, Fashion Accessory of 2013, a must buy.</p></div>
										<div class="buy-now">
											<p>BUY NOW</p>
											<p class="price">£<span>59.99</span></p>
										</div>
										<div class="cl"></div>
										<p><strike>£99.99</strike></p>
									</div>
								</li>
								<li>
									<img src="assets/images/bag4.jpg" alt="pencils" />
									<div class="caption">
										<h2>Ring Bag Special</h2>
										<div class="text">
											<p>Seasonal appearance only. First come, first served</p>
										</div>
										<div class="buy-now">
											<p>BUY NOW</p>
											<p class="price">£99<span>.99</span></p>
										</div>
										<div class="cl"></div>
										<p><strike>£129.99</strike></p>
									</div>
								</li>
							</ul>																		
						</div>						
						<div class="cl"></div>
						<div class="jcarousel-control">
							<a title="Slide 1" href="#">1</a>
							<a title="Slide 2" href="#">2</a>
							<a title="Slide 3" href="#">3</a>
							<a title="Slide 4" href="#">4</a>
							<a title="Slide 5" href="#">5</a>																													 
						</div>						
					</div>	
					<!-- END Slider -->

					<!-- FLASH alerts -->
					<div class="rom2">
					</div>
					<% if notice || alert %> 
					  <div id="flash">
						<p class="notice"><%= notice %></p>
						<p class="alert"><%= alert %></p> 
					  </div>
					<% else %>
					<% end %>
					
					<!-- Content -->
					<div id="content">
						<!-- Featured Products -->
						<div class="products-holder">
							<div class="top"></div>
							<div class="middle">													
								<div class="label">
									<% provide(:title, @title) %>
								    <h3><%= yield(:title) %></h3>							
								</div>
								<div class="cl"></div>	
									<%= yield %>
								<div class="cl"></div>
							</div>
							<div class="bottom"></div>									
						</div>
						<!-- END Featured Products -->
						<!-- Best Sellers -->
						<div class="products-holder">
							<div class="top"></div>
							<div class="best-sellers middle">									
								<div class="label">								
									<h3>Best Sellers</h3>																		
								</div>
								<div class="cl"></div>
								<!-- Scroll Pane -->
								<div class="left-border"></div>
								<div class="scroll-pane horizontal-only">																
									<div class="product">																														
										<a title="Details" href="#"><img src="css/images/paperclip.jpg" alt="paperclip" /></a>
										<div class="desc">
											<p class="name">Product Name</p>
											<p>Model: <span>XR-34</span></p>
											<p>Peaces in Box: <span>12</span></p>
											<p>Product code: <span>1215</span></p>
										</div>	
										<div class="price-box">
											<p>$<span class="price"> 01<sup>.69</sup></span></p>
											<p class="per-peace">Per Peace</p>
										</div>																																	
									</div>
									<div class="product">																														
										<a title="Details" href="#"><img src="css/images/pen.jpg" alt="pen" /></a>
										<div class="desc">
											<p class="name">Product Name</p>
											<p>Model: <span>PgK</span></p>
											<p>Peaces in Box: <span>100</span></p>
											<p>Product code: <span>3275</span></p>
										</div>	
										<div class="price-box">
											<p>$<span class="price"> 00<sup>.99</sup></span></p>
											<p class="per-peace">Per Peace</p>
										</div>																									
									</div>
									<div class="product">																														
										<a title="Details" href="#"><img src="css/images/markers.jpg" alt="markers" /></a>
										<div class="desc">
											<p class="name">Product Name</p>
											<p>Model: <span>XZ-8</span></p>
											<p>Peaces in Box: <span>48</span></p>
											<p>Product code: <span>1456</span></p>
										</div>	
										<div class="price-box">
											<p>$<span class="price"> 01<sup>.69</sup></span></p>
											<p class="per-peace">Per Peace</p>
										</div>																																	
									</div>
									<div class="product">																														
										<a title="Details" href="#"><img src="css/images/eraser.jpg" alt="eraser" /></a>
										<div class="desc">
											<p class="name">Product Name</p>
											<p>Model: <span>small</span></p>
											<p>Peaces in Box: <span>20</span></p>
											<p>Product code: <span>3256</span></p>
										</div>	
										<div class="price-box">
											<p>$<span class="price"> 00<sup>.29</sup></span></p>
											<p class="per-peace">Per Peace</p>
										</div>																																
									</div>
									<div class="product">																														
										<a title="Details" href="#"><img src="css/images/pen.jpg" alt="pen" /></a>
										<div class="desc">
											<p class="name">Product Name</p>
											<p>Model: <span>PgK</span></p>
											<p>Peaces in Box: <span>100</span></p>
											<p>Product code: <span>3275</span></p>
										</div>	
										<div class="price-box">
											<p>$<span class="price"> 00<sup>.99</sup></span></p>
											<p class="per-peace">Per Peace</p>
										</div>																									
									</div>
									<div class="product">																														
										<a title="Details" href="#"><img src="css/images/markers.jpg" alt="markers" /></a>
										<div class="desc">
											<p class="name">Product Name</p>
											<p>Model: <span>XZ-8</span></p>
											<p>Peaces in Box: <span>48</span></p>
											<p>Product code: <span>1456</span></p>
										</div>	
										<div class="price-box">
											<p>$<span class="price"> 01<sup>.69</sup></span></p>
											<p class="per-peace">Per Peace</p>
										</div>																																	
									</div>
									<div class="product">																														
										<a title="Details" href="#"><img src="css/images/eraser.jpg" alt="eraser" /></a>
										<div class="desc">
											<p class="name">Product Name</p>
											<p>Model: <span>mall</span></p>
											<p>Peaces in Box: <span>20</span></p>
											<p>Product code: <span>3256</span></p>
										</div>	
										<div class="price-box">
											<p>$<span class="price"> 00<sup>.29</sup></span></p>
											<p class="per-peace">Per Peace</p>
										</div>																																
									</div>
									<div class="product">																														
										<a title="Details" href="#"><img src="css/images/markers.jpg" alt="markers" /></a>
										<div class="desc">
											<p class="name">Product Name</p>
											<p>Model: <span>XZ-8</span></p>
											<p>Peaces in Box: <span>48</span></p>
											<p>Product code: <span>1456</span></p>
										</div>	
										<div title="Details" class="price-box">
											<p>$<span class="price"> 01<sup>.69</sup></span></p>
											<p class="per-peace">Per Peace</p>
										</div>																																	
									</div>
									<div class="product">																														
										<a title="Details" href="#"><img src="css/images/eraser.jpg" alt="eraser" /></a>
										<div class="desc">
											<p class="name">Product Name</p>
											<p>Model: <span>mall</span></p>
											<p>Peaces in Box: <span>20</span></p>
											<p>Product code: <span>3256</span></p>
										</div>	
										<div class="price-box">
											<p>$<span class="price"> 00<sup>.29</sup></span></p>
											<p class="per-peace">Per Peace</p>
										</div>																																
									</div>																													
								</div>
								<!-- END Scroll Pane -->
								<div class="right-border"></div>
								<div class="cl"></div>								
							</div>
							<div class="bottom"></div>							
						</div>							
						<!-- END Best Sellers -->
						<!-- Bottom Strip -->
						<div class="bottom-strip">
							<div class="box-holder left">
								<div class="box">
									<div class="top"></div>										
									<div class="label">
										<h3>About Us</h3>																			
									</div>
									<div class="middle">
										<div class="text-widget">
											<p><strong>Mauris euismod lorem </strong>at mauris gravida tincidunt. Maecenas purus arcu, luctus at suscipit tempor, pharetra et urna. Quisque molestie purus sit amet ligula varius a adipiscing ligula molestie. Morbi fermentum lobortis turpis mattis bibendum. In hac habitasse platea </p>
										</div>	
										<a class="read-more" title="Read More" href="#">Read More</a>
									</div>	
									<div class="bottom"></div>									
								</div>
							</div>
							<div class="box-holder middle">
								<div class="box">
									<div class="top"></div>									
									<div class="label">									
										<h3>Newsletter</h3>																		
									</div>
									<div class="middle" id="newsletter">
										<div class="post">
											<p><span>Subscribe to our newsletter</span></p>
											<p>Praesent et ultrices turpis. Donec at est vel neque dictum aliquet.</p>
										</div>
										<div class="cl"></div>
										<form action="" method="post">
											<div class="field-holder"><input type="text" class="field" value="Your Email" title="Your Email" /></div>
											<div class="field-holder"><input type="text" class="field" value="Your Name" title="Your Name" /></div>
											<div class="submit-button"><input type="submit" value="Subscribe" /></div>
										</form>
										<div class="cl">&nbsp;</div>											
									</div>
									<div class="bottom"></div>
								</div>
							</div>
							<div class="box-holder right">
								<div class="box">
									<div class="top"></div>										
									<div class="label">										
										<h3>Latest Posts</h3>																				
									</div>
									<div class="middle post-short">
										<div class="post">
											<p><span>Aenean placerat</span></p>
											<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae tellus t turpisporttitor pulvinar ...</p>
											<a class="comments" href="#" title="comments">comments</a>
										</div>
										<div class="date-box">
											<p class="date">05.26</p>
											<p>2011</p>
										</div>
										<div class="cl"></div>
									</div>	
									<div class="bottom"></div>									
								</div>
							</div>
							<div class="cl"></div>
						</div>
						<!-- END Bottom Strip -->
					</div>
					<!-- END Content -->
				</div>
				<!-- END Main -->
			</div>
		</div>
		<div id="footer-push"></div>
	</div>
	<!-- END Wrapper -->	
   
	<!-- END Wrapper -->
	<!-- Footer -->
	<div id="footer">
		<div class="shell">
			<a class="footer-logo" href="http://css-free-templates.com/" title="Home"></a>
			<p id="bottom-nav"><a title="Home" href="#">Home</a><a title="Sales" href="#">Sales</a><a title="Catalog" href="#">Catalog</a><a title="Blog" href="#">Blog</a><a title="About Us" href="#">About Us</a><a title="Design by: CSS Free Templates" href="http://css-free-templates.com/">Design by: CSS Free Templates</a></p>
			<div class="cl"></div>
		</div>
	</div>
	<!-- END Footer -->

</div>
</body>
</html>
